<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cout.newsapi.mapper.NewsMapper">
    <sql id="newsColumn">
            n.id,n.groupid,n.tag,n.imageurl,n.title,n.displayurl,n.category
    </sql>

    <resultMap id="newslists" type="cn.cout.newsapi.model.News">
        <id column="id" property="id"/>
        <result column="groupid" property="groupid"/>
        <result column="tag" property="tag"/>
        <result column="imageurl" property="imageurl"/>
        <result column="title" property="title"/>
        <result column="displayurl" property="displayurl"/>
        <result column="category" property="category"/>
        <association property="newsdetail" javaType="cn.cout.newsapi.model.Newsdetail">
            <result column="publishtime" property="publishtime"/>
            <result column="newssource" property="newssource"/>
            <result column="sourceimage" property="sourceimage"/>
        </association>
    </resultMap>

    <select id="findNewsByPage" resultType="cn.cout.newsapi.model.News">
        SELECT
        <include refid="newsColumn"/>
        ,d.publishtime,d.newssource,d.sourceimage
        FROM news n INNER JOIN newsdetail d
        on n.groupid=d.groupid
        ORDER BY n.id
    </select>

    <select id="searchNewsByKeyWords" parameterType="java.lang.String" resultType="cn.cout.newsapi.model.News">
        SELECT
        <include refid="newsColumn"/>
        FROM news n
        WHERE n.title like #{keyWords}
    </select>

    <!--SELECT-->
    <!--<include refid="newsColumn"/>-->
    <!--,d.publishtime,d.newssource,d.sourceimage-->
    <!--FROM news n INNER JOIN newsdetail d-->
    <!--on n.groupid=d.groupid-->
    <!--WHERE n.title !='' AND n.category = #{category}-->
    <!--ORDER BY n.id-->

</mapper>